$intro-bkgd-color: hsl(217, 28%, 15%);
$main-bkgd-color: hsl(218, 28%, 13%);
$footer-bkgd-color: hsl(216, 53%, 9%);
$testimonials-bkgd-color: hsl(219, 30%, 18%);

$font-family: "Raleway", sans-serif;
@font-face {
  font-family: Raleway;
  src: url("https://fonts.google.com/specimen/Raleway");
}

.usual-button {
  color: #fff;
  background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  width: fit-content;
  padding: 10px 91px;
  border-radius: 20px;
  font-size: 17px;
  border: none;
  font-weight: bold;
}

body {
  font-family: "Open Sans";
  background-color: $main-bkgd-color;
}
/* - Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
- Blue (inside call-to-action gradient): hsl(198, 60%, 50%)
- Light Red (error): hsl(0, 100%, 63%) */

/* Start the main nav-bar */
.navbar {
  background-color: $intro-bkgd-color;
  .navbar-list{
    display: inline-block;
    margin-top: 15px;

    li{
      display: inline-block;
      color: #fff;
      font-size: .8rem;
      a{
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
/* End the main nav-bar */
/* Start The Main Intro */
.main-intro {
  text-align: center;
  color: #fff;
  background-color: $intro-bkgd-color;
  position: relative;
  padding-bottom: 200px;
  overflow: hidden;
  @media (max-width:768px) {
    padding-bottom: 20px;
  }
  .upper {
    position: relative;
    z-index: 2;
  }
  svg {
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @media (max-width:768px) {
      bottom: 0
    }
  }
  img {
    width: 100%;
  }
  h3 {
    font-family: $font-family;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 1.5rem;
  }
  p{
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }
  button {
    @extend .usual-button;
  }
}
/* End The Main Intro */

/* Start The Features Section */
.features {
  text-align: center;
  color: #fff;
  margin-top: 60px;
  @media (max-width:769px) {
    margin-top: 120px;
  }
  .feat {
    margin-bottom: 90px;
    h4 {
      margin-top: 24px;
      font-family: $font-family;
      font-weight: bold;
      font-size: 1.3rem;

    }
    p {
      width: 60%;
      margin: auto;
      @media (max-width:769px) {
        width: 100%;
      }
    }
  }
}
/* End The Features Section */

/* Start The productive Section */
.productive {
  color: #fff;
  margin-top: 45px;
  text-align: left;
  .image-holder {
    img {
      width: 100%;
    }
  }
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Need @media */
    div {
      margin-left: 25px;
      @media (max-width:769px) {
        margin-left: 0;
      }
      h3 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 2.7rem;
        @media (max-width:769px) {
          font-size: 1.1rem;
          margin-bottom: 21px;
          margin-top: 30px;
        }
      }
      p{
        font-size: 1.3rem;
        font-family: $font-family;
        @media (max-width:769px) {
          font-size: .85rem;
        }
      }
      a {
        text-decoration: none;
        color: #65e2d9;
        border-bottom: 1px solid;
        padding-bottom: 3px;
        font-size: 1.3rem;
        @media (max-width:769px) {
          font-size: .85rem;
        }
        &::after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f138";
          font-size: 12px;
          color: cyan;
          margin-left: 5px;
          @media (max-width:769px) {
            font-size: 9px;
          }
        }
      }
    }
  }
}
/* End The productive Section */

/* Start The testimonials Section */
.testimonials {
  margin-top: 175px;
  color: #fff;
  position: relative;
  margin-bottom: -125px;
  @media (max-width:769px) {
    margin-top: 160px;
    margin-bottom: -50px;
  }
  .img-holder{
    height: 55px;
    width: 45px;
    position: absolute;
    top: -35px;
    left: 5px;
    z-index: -1;
    @media (max-width:769px) {
      height: 35px;
      width: 25px;
      top: -21px;
      left: 17px;
    }
    img {
      width: 100%;
    }
  }
  .testimonial {
    background-color: $testimonials-bkgd-color;
    padding: 2.2rem;
    border-radius: 4px;
    margin-bottom: 35px;
    @media (max-width:769px) {
      padding: 1.5rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 1.7rem;
      @media (max-width:769px) {
        font-size: .9rem;
      }
    }
    .user-info {
      .user-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-block;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        @media (max-width:769px) {
          width: 40px;
          height: 40px;
        }
        img {
          width: 100%;
          padding: 1px;
          border-radius: 50%;
        }
      }
      .infos {
        display: inline-block;
        width: auto;
        margin-left: 15px;
        vertical-align: middle;
        .user-name {
          margin-bottom: -6px;
          font-size: 15px;
          @media (max-width:769px) {
            font-size: 12px;
          }
        }
        .user-title {
          opacity: 0.7;
          font-size: 13px;
          @media (max-width:769px) {
            font-size: 11px;
          }
        }
      }
    }
  }
}
/* End The testimonials Section */

/* Start The Contact Section */
.contact-us {
  margin-top: 100px;
  background-color: #1c2230;
  padding: 35px 45px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  position: relative;
  top: 155px;
  @media (max-width:769px) {
    margin-top: 0;
    padding: 20px;
  }
  h3 {
    font-family: $font-family;
    font-weight: bold;
  }
  p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: $font-family;
  }
  form {
    display: flex;
    justify-content: space-around;
    @media (max-width: 769px) {
      display: block;
    }
    input[type="text"] {
      border-radius: 25px;
      border: none;
      width: 60%;
      outline: none;
      &::placeholder{
        opacity: .8;
      }
      @media (max-width: 769px) {
        width: 100%;
        padding: 8px 26px;
        border-radius: 20px;
        font-size: 14px;
        border: none;
        margin-bottom: 18px;
      }
    }
    input[type="submit"] {
      @extend .usual-button;
      padding: 7px 33px;
      @media (max-width: 769px) {
        width: 100%;
        padding: 7px 0;
        border-radius: 20px;
        font-size: 17px;
        border: none;
        font-weight: bold;
      }
    }
  }
}
/* End The Contact Section */

/* Start The Footer Section */
footer:first-of-type {
  color: #fff;
  padding-top: 150px; /* Need @media */
  padding-bottom: 50px; /* Need @media */
  background-color: $footer-bkgd-color;
  margin-top: 50px;
  @media (max-width:769px) {
    margin-top:0;
    padding-top: 200px;
    padding-bottom: 15px
  }
  .info {
    display: flex;
    justify-content: space-between;
    i {
      margin-top: 6px;
    }
    p {
      display: inline-block;
      width: 80%;
      margin: auto;
    }
  }
  .contacts {
    .contact {
      margin-bottom: 15px;
      span {
        margin-left: 10px;
        font-size: 12px;
      }
    }
  }
  .cust-list {
    display: inline-block;
    li {
      margin-bottom: 15px;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .social-media {
    li {
      display: inline-block;
      margin-right: 7px;
      border-radius: 50%;
      border: 1px solid #fff;
      height: 30px;
      width: 30px;
      padding: 4px;
      text-align: center;
      a {
        color: #fff;
      }
    }
  }
}
/* End The Footer Section */

/* Start My Footer Section */
footer:last-of-type {
  color: #fff;
  background-color: #0b1523;
  margin-top: 2px;
  text-align: center;
  padding: 10px;
  p {
    margin: 5px;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
/* End My Footer Section */
